@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,900&display=swap');
@import "tailwindcss";

* {
    font-family: 'Plus Jakarta', sans-serif;
    font-weight: 500;
}

@theme {
  /* Dominan merah khas logo & brand Baso Yen */
  --color-primary: #8B0000;     /* Merah Marun / Dark Red */
  --color-choco: #A0522D;       /* Cokelat Kuah Bakso / Sienna */
  --color-trey: #FDFBF7;        /* Putih Gading */
  --color-gold: #FFC107;      /* Kuning Emas / Amber */
}